@import "tailwindcss";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-inter: "Inter", sans-serif;
}

.bg-hero {
    background: linear-gradient(to bottom, #f8f8f8 0%, #e0e0e0 100%);
    position: relative;
    overflow: hidden;
}

.ink-svg {
    position: absolute;
    bottom: -5%;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    opacity: 0.8;
    filter: grayscale(100%);
}
